<template>
  <div>
    <div v-if="!fetched">
      Fetching Yummy Dishes...
    </div>

    <div class="index-container" v-if="fetched">
      <div
        class="recipe-container"
        v-for="recipe in recipes"
        :key="recipe.id"
      >
        <img class="photo" :src="recipe.image" />
        <router-link :to="`recipe/${recipe.id}`">
          {{ recipe.title }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RecipeIndex',

  created () {
    fetch('/api/recipes')
      .then(response => response.json())
      .then(recipes => {
        this.recipes = recipes
        this.fetched = true
      });
  },

  data: function () {
    return {
      fetched: false,
      recipes: []
    }
  }
}
</script>

<style scoped>
.index-container {
  display: flex;
  flex-direction: column;
}

.recipe-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

img.photo {
  height: 100px;
  margin-right: 10px;
}
</style>
