<template>
  <div>
    <div v-if="!fetched">
      Loading The Dish...
    </div>

    <div class="detail-container" v-if="fetched">
      <div class="left-container">
        <img class="recipe-photo" :src="image" />
      </div>
      <div class="right-container">
        <div>
          Title:
          {{ title }}
        </div>
        <div>
          Description:
          {{ description }}
        </div>
        <div v-if="tags && tags.length > 0">
          Tags:
          {{ tags.join(", ") }}
        </div>
        <div v-if="chef">
          Chef:
          {{ chef }}
        </div>
      </div>
    </div>

    <router-link to="/">Back</router-link>
  </div>
</template>

<script>
export default {
  name: 'RecipeDetail',

  created () {
    const { id } = this.$route.params
    fetch(`/api/recipes/${id}`)
      .then(response => response.json())
      .then(recipe => {
        this.fetched = true
        this.title = recipe.title
        this.image = recipe.image
        this.tags = recipe.tags
        this.description = recipe.description
        this.chef = recipe.chef
      })
  },

  data: function () {
    return {
      fetched: false,
      title: null,
      image: null,
      tags: null,
      description: null,
      chef: null
    }
  }
}
</script>

<style scoped>
.detail-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.detail-container .left-container {
  padding: 10px;
}

.detail-container .right-container {
  padding: 10px;
}

img.recipe-photo {
  height: 100px;
}
</style>
