<template>
  <div id="app">
    <p>Marley Spoon Web Challenge!</p>

    <router-view></router-view>
  </div>
</template>

<script>
export default {
}
</script>

<style>
p {
  font-size: 2em;
  text-align: center;
}

body {
  font-family: sans-serif;
}
</style>
